{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1a</h3>
			</div>
			<div class="col-6">
				<button class="btn btn-light float-right">
					Reset
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange p2-border"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle" id="gradient-circle"></div>
				</div>
			</div>
		</div>
			
	</div>

<!-- reset button -->
  <div class="wrapper">
    <button>reset</button>
  </div>

  <script type="text/javascript">
    // your solution here
    // .hide(): https://api.jquery.com/hide/
    // .hover(): https://api.jquery.com/hover/
    // click on 1 purple closes all purple
    $(".p2-circle.bg-purple").click(function(){
      $(".p2-circle.bg-purple").hide("slow");
    });

    // click on 1 green closes all green and blue
    $(".p2-circle.bg-green").click(function(){
      $(".p2-circle.bg-green").hide("slow");
      $(".p2-circle.bg-blue").hide("slow");
    });

    // click on 1 orange border closes all orange borders
    $(".p2-circle.bg-orange.p2-border").click(function(){
      $(".p2-circle.bg-orange.p2-border").hide("slow");
    });

    //move mouse across gradient hides that only gradient 
    $("#gradient-circle").hover(function(){
      $("#gradient-circle").hide("slow");
    });

    // reset function functionality: https://stackoverflow.com/questions/178325/how-do-i-check-if-an-element-is-hidden-in-jquery
    $("button").click(function(){
// //       if ($(element).css("visibility") == "hidden"){
//       if ($(".p2-circle.bg-purple").is(":hidden")){
//         $(".p2-circle.bg-purple").show();
//       }
      
//       if ($(".p2-circle.bg-green").is(":hidden")){
//         $(".p2-circle.bg-green").show();
//       }
      
//       if ($(".p2-circle.bg-yellow").is(":hidden")){
//         $(".p2-circle.bg-yellow").show(); // does this include the border?
//       }
      
//       if ($(".p2-circle.bg-orange").is(":hidden")){
//         $(".p2-circle.bg-orange").show();
//       }
      
//       if ($(".p2-circle.bg-blue").is(":hidden")){
//         $(".p2-circle.bg-blue").show();
//       }
      
//       if ($("#gradient-circle").is(":hidden")){
//         $("#gradient-circle").show();
//       }
      $(".p2-circle.bg-purple:hidden").show();
      $(".p2-circle.bg-green:hidden").show();
      $(".p2-circle.bg-yellow:hidden").show();
      $(".p2-circle.bg-orange:hidden").show();
      $(".p2-circle.bg-blue:hidden").show();
      $("#gradient-circle:hidden").show();
    });

  </script>
</body>
</html>